{% extends "base.html" %}
{% block title %} New Post {% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xs-12 col-md-6 center-block">
			<form method="post" action="../controllers/newPostController.php">
				<div class="form-group">
					<label>Title</label>
					<input type="text" name="title" class="form-control" placeholder="subject" value = "{{ subject }}">
					<h2 class="text-center error-text error-title">{{ error_title }}</h2>
				</div>
				<div class="form-group">
					<label>Content</label>
					<textarea class="form-control" name = "content">{{ content }}</textarea>
					<h2 class="text-center error-text">{{ error_content }}</h2>
				</div>
				<div class="row little-margin-top">
					<div class="col-md-12">
						<input type="submit" name="" class="btn btn-default center-block">
					</div>
				</div>
				<!-- <h2 class="text-center error-text">{{ error }}</h2> -->
			</form>
		</div>
	</div>
{% endblock %}